@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@500&family=Roboto:wght@400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body{
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    background-color: rgb(52, 42, 37);
    height: 120vh;
}

 /*============================================================*/
 /* Slider Integrantes */
.card-integrantes:hover{
    scale: 1.02;
}
.carousel img{
    border-radius: 50%;
}
.redes-integrantes li a{
    background-color: #e97d10ba;
    margin-left:5px;
    padding: 4px;
    border-radius: 5px;
}
.redes-integrantes li a:hover{
    background-color: #7a5f43;
}
.redes-integrantes li a img{
    width: 80%;
}
.carousel-pequeño{
    display: none;
  }

@media (max-width: 768px) {
    .carousel-pequeño{
      display: block;
    }
    .carousel-grande{
        display: flex;
        justify-content: center;
      }
  }
  /* ======================================================= */
  /*Slider Testimonios*/

  /* Cards Testimonios */
  .card-testimonios .card-img-top{
    max-width: 80px;
    margin: 0;
  }
  .comillas-img{
    width: 40px;
    background-color: #efab2bd2;
    margin: auto;
  }